@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Antro_Vectra';
  src: url(font/Antro_Vectra_Bolder.otf);
}

body {
  font-family: "游ゴシック体", YuGothic;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: 'Antro_Vectra';
}

.header h1 {
  font-size: 2em;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  font-family: 'Antro_Vectra';
}

.header a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 99;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 60px;
  color: #fff;
}

.header a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*slideshow*/
.slideshow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-animation-name: kenburns;
          animation-name: kenburns;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slideshow-image:nth-child(1) {
  -webkit-animation-name: kenburns-1;
          animation-name: kenburns-1;
  z-index: 5;
}

.slideshow-image:nth-child(2) {
  -webkit-animation-name: kenburns-2;
          animation-name: kenburns-2;
  z-index: 4;
}

.slideshow-image:nth-child(3) {
  -webkit-animation-name: kenburns-3;
          animation-name: kenburns-3;
  z-index: 3;
}

.slideshow-image:nth-child(4) {
  -webkit-animation-name: kenburns-4;
          animation-name: kenburns-4;
  z-index: 2;
}

.slideshow-image:nth-child(5) {
  -webkit-animation-name: kenburns-5;
          animation-name: kenburns-5;
  z-index: 1;
}

.slideshow-image:nth-child(6) {
  -webkit-animation-name: kenburns-6;
          animation-name: kenburns-6;
  z-index: 0;
}

@-webkit-keyframes kenburns-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  0.83333% {
    opacity: 1;
  }
  15.83333% {
    opacity: 1;
  }
  17.5% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  99.16667% {
    opacity: 0;
    -webkit-transform: scale(1.20952);
            transform: scale(1.20952);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kenburns-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  0.83333% {
    opacity: 1;
  }
  15.83333% {
    opacity: 1;
  }
  17.5% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  99.16667% {
    opacity: 0;
    -webkit-transform: scale(1.20952);
            transform: scale(1.20952);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kenburns-2 {
  15.83333% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  17.5% {
    opacity: 1;
  }
  32.5% {
    opacity: 1;
  }
  34.16667% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes kenburns-2 {
  15.83333% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  17.5% {
    opacity: 1;
  }
  32.5% {
    opacity: 1;
  }
  34.16667% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes kenburns-3 {
  32.5% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  34.16667% {
    opacity: 1;
  }
  49.16667% {
    opacity: 1;
  }
  50.83333% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes kenburns-3 {
  32.5% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  34.16667% {
    opacity: 1;
  }
  49.16667% {
    opacity: 1;
  }
  50.83333% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes kenburns-4 {
  49.16667% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50.83333% {
    opacity: 1;
  }
  65.83333% {
    opacity: 1;
  }
  67.5% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes kenburns-4 {
  49.16667% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50.83333% {
    opacity: 1;
  }
  65.83333% {
    opacity: 1;
  }
  67.5% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes kenburns-5 {
  65.83333% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  67.5% {
    opacity: 1;
  }
  82.5% {
    opacity: 1;
  }
  84.16667% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes kenburns-5 {
  65.83333% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  67.5% {
    opacity: 1;
  }
  82.5% {
    opacity: 1;
  }
  84.16667% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes kenburns-6 {
  82.5% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  84.16667% {
    opacity: 1;
  }
  99.16667% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes kenburns-6 {
  82.5% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  84.16667% {
    opacity: 1;
  }
  99.16667% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*main*/
.title h1 {
  font-family: 'Antro_Vectra';
  letter-spacing: 0.5em;
  font-size: 2em;
}

.text {
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #f9f9f9;
  font-size: 24px;
  z-index: 99;
}

.container {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin: 48px auto;
  font-size: 24px;
  text-align: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}

.contents {
  width: 300px;
  display: inline;
  border-style: solid;
  border-color: #2193b0;
  border: 2px;
  padding: 0 8px;
}

.sub-content1 {
  width: 100%;
  height: 200px;
  position: relative;
}

.images-content {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-position: center center;
  border: 8px solid #2193b0;
  overflow: hidden;
}

.image {
  width: 180px;
}

.furigana h2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(50%, #e8ff38));
  background: linear-gradient(transparent 70%, #e8ff38 50%);
  display: inline;
  font-size: 18px;
  position: absolute;
  bottom: 24px;
}

.name h3 {
  font-size: 24px;
  display: inline;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(50%, #e8ff38));
  background: linear-gradient(transparent 70%, #e8ff38 50%);
  position: absolute;
  bottom: 0;
}

.sub-content2 {
  width: 100%;
  margin-left: 8px;
  font-size: 16px;
  line-height: 32px;
}

.team, .section {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(50%, #e8ff38));
  background: linear-gradient(transparent 70%, #e8ff38 50%);
}

@media screen and (max-width: 767px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contents {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */